body {background-color: whitesmoke;}

h1 {  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size:380%;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 2px darkslategray;
}
h2 {font-family: Helvetica;color: darkgrey;text-align: center;}
h3 {font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;color: whitesmoke;text-align: center; text-shadow: 1px 1px darkslategray;}
p {font-family: Helvetica;font-size: 15px;}
h4 {color: darkgrey;text-align: center;font-size: 14px;font-family:Verdana;}
/* A link that has not been visited */
textarea { background: white; border:none }
label {color: darkgrey;}
#grad1 {
    background-image: linear-gradient(#4e718a,whitesmoke);

}

#grad3{
    color:#000000;
    border: 0;
    margin-bottom: 0;

}
#grad4{

    align-content: center;
}

.jumbotron{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    width:100%;
}

#grad8{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    width:100%; background-color:transparent; opacity:0.8;

}
#grad2 {
    background-image: linear-gradient(to right, whitesmoke , #4e718a,whitesmoke); opacity:0.5;
}
a:link {color: darkslategray; text-align: center; text-decoration: none;}
/* A link that has been visited */
a:visited {color: darkslategray; text-align: center; text-decoration: none;}
/* A link that is hovered on */
a:hover {color: darkslategray; text-align: center; text-decoration: none;}
/* A link that is selected */
a:active {color: darkslategray; text-align: center; text-decoration: none;}
.list-group{
    display:inline-block;
    width:50%;
    font-family:Candara;
    text-overflow:ellipsis;
    word-wrap: break-word;


}
.center
{
    background-image: url('/css/soprasterialogo2.jpg');
    width:192px;
    height:47px;
     display: block;
     margin-left: auto;
     margin-right: auto;
opacity: 80%;
 }

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}