<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">



<head>
    <title>Demo</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css"/>

</head>
<body>


<div class="jumbotron mt-1 text-center bg-dark text-white pb-0 p-4"  id="grad1">
    <h1><i class="fa fa-angle-double-left" aria-hidden="true"></i></i>'4M<i class="fa fa-angle-up" aria-hidden="true"></i>te'<i class="fa fa-angle-double-right" aria-hidden="true"></i></i></h1>
    <p>-super awesome form generator</p>
    <div class="container-fluid p-1 my-0 bg-white text-white " id="grad8">
        <a href="createForm.html" th:href="@{/createForm}"  type="button" class="btn btn-link"><i class="fa fa-file" aria-hidden="true"></i>Create</a>
        <a href="modify.html"  th:href="@{/modify}" type="button" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"></i>Modify</a>
        <a href="answerQuestion.html"   th:href="@{/answerQuestion}" type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Answer Form</a>
        <a href="chooseFormAndAnswers.html"  th:href="@{/chooseFormAndAnswers}" type="button" class="btn btn-link"><i class="fa fa-file-text" aria-hidden="true"></i>See Answers</a>
        <a href="admin.html"  th:href="@{/admin}" type="button" class="btn btn-link"><i class="fa fa-universal-access" aria-hidden="true"></i>Admin</a>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container p-0 my-0 bg-dark text-white" id="grad2">
                    <h3><i class="fa fa-file" aria-hidden="true"></i>Create questions</h3>
            </div>

<form align="center" action="#" th:action="@{/createQuestions}" th:object="${dto}" method="post" id="usrform">
    <input type="hidden" th:field="*{formId}">
    <input type="hidden" th:field="*{id}">

    <label for="name">Questions</label><br>
    <p th:text="${dto.getId()}" />
    <textarea rows="4" cols="50" name="comment" form="usrform" type="text" id=name th:field="*{question}">Enter question here...</textarea>

    <br><label for="test">Choose answer type</label><br>
    <div class="form-group" id="test">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary" ><i class='fa fa-comment-o'></i>
                <input type="radio" id="option1" name="option1"  value="1" th:field="*{answerId}" onclick="myFunction()">Text answer
            </label>
            <label class="btn btn-outline-secondary" >
                <input type="radio" id="option2" name="option2"  value="2" th:field="*{answerId}" onclick="myFunction()">Radio buttons (1-10)
            </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="option3" name="option3" value="3" th:field="*{answerId}" onclick="myFunction()">Checkbox answer
        </label>
        </div>
    </div>

            <label id="text4" style="display:none">Type in your possible answers ending each with enter
           <textarea id="text"  rows="8" cols="50" form="usrform" th:field="*{checkBoxText}" style="margin:auto;"></textarea>
            </label>

    <h2>--</h2>


    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active">
            <input type="radio" name="options" id="option5" autocomplete="off" checked value="1" th:field="*{anotherQuestion}"> Add more
        </label>
        <label class="btn btn-outline-success">
            <input type="radio" name="options" id="option4" autocomplete="off" value="2" th:field="*{anotherQuestion}"> Done
        </label>
    </div>
    <br>
    <h2>--</h2>
    <a href="modifyQuestion.html" th:href="@{/modifyQuestion(question=404,id=${dto.formId})}" type="button" class="btn btn-outline-secondary">Modify form</a>
    <input type="submit" value="Create/Add" class="btn btn-outline-danger" />

</form>
            <hr/>
            <a href="https://www.soprasteria.se"><div class="center" style="opacity: 50%"></div></a>
    </div>
        </div>



</div>
<script>
    function myFunction() {
// Get the checkbox
        var checkBox = document.getElementById("option3");
// Get the output text
        var text = document.getElementById("text");
        var text4 = document.getElementById("text4");

// If the checkbox is checked, display the output text
        if (checkBox.checked == true){
            text.style.display = "block";
            text4.style.display = "block";
        } else {
            text.style.display = "none";
            text4.style.display = "none";
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
