<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <title>Demo</title>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/static/css/style.css|}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="banner" style="text-align:center">
    <table align="center">
        <tr><h2>QuestionApp|Login</h2></tr>
        <th><a href="createUser.html"
               th:href="@{/createUser}">Sign Up</a></th>
        <th><a href="login.html"
               th:href="@{/login}">Login</a></th>
        <th><a href="members.html"
               th:href="@{/members}">Members</a></th></tr>
    </table>
</div>
<form align="center" action="#" th:action="@{/login}" th:object="${login}" method="post">
    <h2>Log in</h2>
    <label for="name">Name</label><br>
    <input type="text" id=name th:field="*{name}" /><br>
    <label for="pass">Password</label><br>
    <input type="text" id=pass th:field="*{password}" /><br>
    <p><input type="submit" value="Logg in!" /> </p>
</form>

</body>



</html>