<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">



<head>
    <title>Demo</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css"/>

</head>
<body>


<div class="jumbotron mt-1 text-center bg-dark text-white pb-0 p-4"  id="grad1">
    <h1><i class="fa fa-angle-double-left" aria-hidden="true"></i></i>'4M<i class="fa fa-angle-up" aria-hidden="true"></i>te'<i class="fa fa-angle-double-right" aria-hidden="true"></i></i></h1>
    <p>-super awesome form generator</p>
    <div class="container-fluid p-1 my-0 bg-white text-white " id="grad8">
        <a href="createForm.html" th:href="@{/createForm}"  type="button" class="btn btn-link"><i class="fa fa-file" aria-hidden="true"></i>Create</a>
        <a href="modify.html"  th:href="@{/modify}" type="button" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"></i>Modify</a>
        <a href="answerQuestion.html"   th:href="@{/answerQuestion}" type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Answer Form</a>
        <a href="chooseFormAndAnswers.html"  th:href="@{/chooseFormAndAnswers}" type="button" class="btn btn-link"><i class="fa fa-file-text" aria-hidden="true"></i>See Answers</a>
        <a href="admin.html"  th:href="@{/admin}" type="button" class="btn btn-link"><i class="fa fa-universal-access" aria-hidden="true"></i>Admin</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container p-0 my-0 bg-dark text-white" id="grad2">
                <h3><i class="fa fa-cog" aria-hidden="true"></i>Modify</h3>
            </div>
            <div class="alert alert-primary" style="margin:auto;width:80%;display: block;text-align:center; word-wrap: break-word;"  role="alert">
            Forms need to be activated for applicants to answer them,once a form is activated it will always be
                active , Forms can only be modified if not activated
            </div>
            <div th:align="center">
            <button type="button" class="btn btn-link" onclick = "display('firstbox')"><i class="fa fa-times" aria-hidden="true"></i>Remove</button>
            <button type="button" class="btn btn-link" onclick = "display('secondbox')"><i class="fa fa-cogs" aria-hidden="true"></i>Modify</button>
                <button type="button" class="btn btn-link" onclick = "display('thirdbox')"><i class="fa fa-bolt" aria-hidden="true"></i>Activate</button>
                <button type="button" class="btn btn-link" onclick = "display('fourbox')"><i class="fa fa-files-o" aria-hidden="true"></i>Copy</button>
            </div>
            <h4>-</h4>





            <div id="text4" align="center" style="display:none">
                <h4>Choose form to remove</h4>
                <h4>-</h4>
                <ul class="list-group mx-auto d-block">
                <div th:each="test: ${chooseForm.getNummer()}">
                    <li class="list-group-item list-group-item-danger text-dark text-md-center p-3">
                    <a href="modifyForm.html"  style="font-size: 20px;" th:href="@{/modifyForm(activate=0,id=${test})}" th:text="'Form : ' +${test}" />
                        <br>
                    <li class="list-group-item list-group-item-dark text-dark text-md-center p-2 h3">
                        <div th:text="${chooseForm.getSpecDesc(test)}" style="font-size :13px;overflow-wrap: break-word;color: black;"></div>
                </li>
                    </li>

                </div>
                </ul>



                <h4>-</h4>


<!--
                <div th:each="test: ${chooseForm.getNummer()}">  <a href="modifyForm.html" th:href="@{/modifyForm(activate=0,id=${test})}" th:text="'Form : ' +${test}" /></div>
                -->
                <h4>-</h4>
            </div>

            <div id="text5" align="center" style="display:none">
                <h4>Choose form to Modify</h4>
                <h4>-</h4>
                <ul class="list-group mx-auto d-block">
                <div th:each="test: ${chooseForm.getNummer()}" >
                    <div th:if="${chooseForm.getSpecial(test).equals('Inactive')}">
                    <li class="list-group-item list-group-item-warning text-dark text-md-center p-3">
                    <a  href="modifyQuestion.html" style="font-size: 20px;" th:href="@{/modifyQuestion(question=404,id=${test})}" th:text="'Form : ' +${test}"  />
                        <br>
                        <li class="list-group-item list-group-item-warning text-dark text-md-center p-2 h3">
                            <div th:text="${chooseForm.getSpecDesc(test)}" style="font-size :13px;overflow-wrap: break-word;color: black;"></div>
                        </li>
                    </li>
                    </div>
                </div>
                </ul>
                <h4>-</h4>
            </div>

            <div id="text6" align="center" style="display:none">
                <h4>Choose form to Activate</h4>
                <h4>-</h4>
                <ul class="list-group mx-auto d-block">
                <div th:each="test: ${chooseForm.getNummer()}" >

                    <div th:if="${chooseForm.getSpecial(test).equals('Active')}">
                    <li class="list-group-item list-group-item-success text-dark text-md-center p-3">
                        <a href="modifyForm.html" style="font-size: 20px;" th:href="@{/modifyForm(activate=1,id=${test})}" th:text="'Form : ' +${test} +'  status : '+ ${chooseForm.getSpecial(test)}"/>
                        <br>
                        <li class="list-group-item list-group-item-success text-dark text-md-center p-2 h3">
                            <div th:text="${chooseForm.getSpecDesc(test)}" style="font-size :13px;overflow-wrap: break-word;color: black;"></div>
                        </li>
                        </div>
                    <div th:if="${chooseForm.getSpecial(test).equals('Inactive')}">
                        <li class="list-group-item list-group-item-dark text-dark text-md-center p-3">
                            <a href="modifyForm.html"  style="font-size: 20px;" th:href="@{/modifyForm(activate=1,id=${test})}" th:text="'Form : ' +${test} +'  status : '+ ${chooseForm.getSpecial(test)}"/>
                            <br>
                        <li class="list-group-item list-group-item-dark text-dark text-md-center p-2 h3">
                            <div th:text="${chooseForm.getSpecDesc(test)}" style="font-size :13px;overflow-wrap: break-word;color: black;"></div>
                        </li>
                    </div>


                    </li>
                </div>
                </ul>
                <h4>-</h4>
            </div>

            <div id="text7" align="center" style="display:none">
                <h4>Choose form to Copy</h4>
                <h4>-</h4>
                <ul class="list-group mx-auto d-block">
                    <div th:each="test: ${chooseForm.getNummer()}" >
                    <li class="list-group-item list-group-item-primary text-dark text-md-center p-3">
                    <a href="loggedIn.html"  style="font-size: 20px;" th:href="@{/copy(id=${test})}"  th:text="'Form : ' +${test} "/>
                        <br>
                        <li class="list-group-item list-group-item-info text-dark text-md-center p-2 h3">
                            <div th:text="${chooseForm.getSpecDesc(test)}" style="font-size :13px;overflow-wrap: break-word;color: black;"></div>
                        </li>
                    </li>
                </div>
                </ul>
                <h4>-</h4>
            </div>
            <hr/>
            <a href="https://www.soprasteria.se"><div class="center" style="opacity: 50%"></div></a>
        </div>
    </div>
</div>


<script>
    var text = document.getElementById("text4");
    var text5 = document.getElementById("text5");
    var text6 = document.getElementById("text6");
    var text7 = document.getElementById("text7");
    function display (selected)

{
if (selected === 'firstbox')
{
text.style.display = "block";
    text5.style.display = "none";
    text6.style.display = "none";
    text7.style.display = "none";
}
else if (selected === 'secondbox')
{
    text.style.display = "none";
    text5.style.display = "block";
    text6.style.display = "none";
    text7.style.display = "none";
}
else if (selected === 'thirdbox')
{
    text.style.display = "none";
    text5.style.display = "none";
    text6.style.display = "block";
    text7.style.display = "none";
}
else if (selected === 'fourbox')
{
    text.style.display = "none";
    text5.style.display = "none";
    text6.style.display = "none";
    text7.style.display = "block";
}


}
</script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>