<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <title>Demo</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>

<div class="jumbotron text-center bg-dark text-white" id="grad1">
    <h1>QuestionApp</h1>
    <p>-super awesome form generator</p>
    <a href="createForm.html" th:href="@{/createForm}"  type="button" class="btn btn-outline-danger">Create</a>
    <a href="modify.html"  th:href="@{/modify}" type="button" class="btn btn-outline-danger">Modify</a>
    <a href="answerQuestion.html"   th:href="@{/answerQuestion}" type="button" class="btn btn-outline-secondary">Answer Form</a>
    <a href="chooseFormAndAnswers.html"  th:href="@{/chooseFormAndAnswers}" type="button" class="btn btn-outline-secondary">See Answers</a>
    <a href="admin.html"  th:href="@{/admin}" type="button" class="btn btn-outline-warning">Admin</a>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container p-0 my-0 bg-dark text-white" id="grad2">
                <h3>Modify Form</h3>
            </div>

            <form align="center" action="#" th:action="@{/modifyQuestion}" th:object="${dto}" method="post" id="usrform">
                <input type="hidden" th:field="*{formId}">
                <label th:text="'Form:'+${dto.formId}"></label><br><br>

                <div th:each="DTO:${dto.questionList}"  align="center">

                    <div id="test" class="card text-white bg-secondary mb-4" style="width: 20rem; border-width: 1px;border-color: transparent; opacity: 40%;">
                        <h5 class="card-title white-text"  th:text="'Question'"></h5>
                        <div class="card-body rounded-top white-text pr-0" >
                            <p class="card-text" th:text="${DTO.question}"></p>

                        </div>

                    </div>
                    <a href="modifyQuestion.html" th:href="@{/modifyQuestion(question=${DTO.id},id=${dto.formId})}"  type="button" class="btn btn-outline-danger">Remove</a>
                    <br>
                    <h2>--</h2>

                    </div>
                <a href="review.html" th:href="@{/review(id=${dto.formId})}"  type="button" class="btn btn-outline-primary">Review Form</a>
                <input type="submit" value="Add questions!" class="btn btn-outline-secondary" /><i class='fa fa-comment-o'></i>
                <a href="loggedIn.html" th:href="@{/loggedIn}"  type="button" class="btn btn-outline-success">Done</a>
            </form>





        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
