<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">



<head>
    <title>Demo</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css"/>

</head>
<body>


<div class="jumbotron mt-1 text-center bg-dark text-white pb-0 p-4"  id="grad1">
    <h1><i class="fa fa-angle-double-left" aria-hidden="true"></i></i>'4M<i class="fa fa-angle-up" aria-hidden="true"></i>te'<i class="fa fa-angle-double-right" aria-hidden="true"></i></i></h1>
    <p>-super awesome form generator</p>
    <div class="container-fluid p-1 my-0 bg-white text-white " id="grad8">
        <a href="createForm.html" th:href="@{/createForm}"  type="button" class="btn btn-link"><i class="fa fa-file" aria-hidden="true"></i>Create</a>
        <a href="modify.html"  th:href="@{/modify}" type="button" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"></i>Modify</a>
        <a href="answerQuestion.html"   th:href="@{/answerQuestion}" type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Answer Form</a>
        <a href="chooseFormAndAnswers.html"  th:href="@{/chooseFormAndAnswers}" type="button" class="btn btn-link"><i class="fa fa-file-text" aria-hidden="true"></i>See Answers</a>
        <a href="admin.html"  th:href="@{/admin}" type="button" class="btn btn-link"><i class="fa fa-universal-access" aria-hidden="true"></i>Admin</a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container p-0 my-0 bg-dark text-white" id="grad2">
                <h3><i class="fa fa-file-text" aria-hidden="true"></i>Showing Form</h3>
            </div>


              <label style="text-align:center; display: block;" th:text="'Form '+${dto.getForm().formId}+': '+${dto.getForm().description}"></label>


            <ul class="list-group mx-auto d-block">
                <div th:each="questionSet:${dto.listgetter()}">
                    <li class="list-group-item list-group-item-warning text-dark text-md-center p-3 h5 " th:text="${dto.form.getQuestionList().get(dto.form.indexCorrector(questionSet)).getQuestion()+' ?'}"></li>


                    <div th:if="${dto.getTest().get(questionSet)!=null}">
                        <li class="list-group-item list-group-item-info text-md-center h-5 " th:text="${'RadioButton Average :'+dto.getTest().get(questionSet)/dto.totalApplicants}"></li>
                    </div>

            <div th:each="entry:${dto.getQuestion().entrySet()}">
<!--
                <li class="list-group-item list-group-item-warning text-dark text-md-center p-3 h4" th:text="${dto.form.getQuestionList().get(dto.form.indexCorrector(entry.getValue())).getQuestion()+' ?'}"></li>
    -->



                <th:block th:each="entry2:${dto.getQuestionAndUser().entrySet()}">
                    <div th:if="${entry.getKey().equals(entry2.getKey())}">
                        <!--
                        <div th:if="${entry.getKey().equals(entry2.getKey() && ${entry.getValue()}==questionSet)}">
                            -->
                            <div th:if="${entry.getValue()==questionSet}">
                                <li class="list-group-item list-group-item-success text-md-center p-2" th:text="' - '+${entry2.getValue()}+' - '+${dto.converter(entry2.getKey(),dto.form.getAnon())}"></li>
                        </div>
                    </div>
                </th:block>
            </div>
                <hr/>

</div>







                <li class="list-group-item list-group-item-primary text-white text-md-center h4"  th:text="${'Total Applicants :'+dto.totalApplicants}"></li>
                <li class="list-group-item list-group-item-primary text-white text-md-center h4"   th:text="${'Total Answers :'+dto.counterTotalAnswers}"></li>
            <!--
<h4 th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(dto.SuperOut2()),'\n','&lt;br /&gt;'))}"></h4>
--></ul>
            <div style="text-align:center; display: block;">



                <a th:href="@{/get-file(id=${dto.getForm().formId})}"  type="button" class="btn btn-outline-primary">Export to excel file</a>
                <hr/>
                <a href="https://www.soprasteria.se"><div class="center" style="opacity: 50%"></div></a>
<!--
  <a href="ms-excel:ofe|u|C:/Users/CptCaveMan/IdeaProjects/2S_OSD_PollApp/temp.xlsx" download type="button" class="btn btn-link">GetFile</a>
     <a th:href="${dto.exelFunction()}"  download type="button" class="btn btn-link">GetFile</a>
                <a href="ms-excel:ofe|u|temp.xlsx" download type="button" class="btn btn-link">GetFile</a>
                <a th:href="'ms-excel:ofe|u|'+${dto.exelFunction()}" type="button" class="btn btn-link">GetFile</a>
                       <button th:onclick="${dto.exelFunction()}">KUK</button>
-->
        </div>

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>